<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>顧客一覧</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <!-- マージンを上下に設定 -->
      <div class="my-5">
        <!-- 青色ボタンを設定 -->
        <a class="btn btn-primary" th:href="@{/create}">顧客登録</a>
      </div>
      <h1 class="my-2">顧客一覧</h1>
      <table class="table table-borderd table-striped">
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th colspan="2">編集</th>
        </tr>
        <tr th:each="customer: ${customers}">
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.name}"></td>
          <td th:text="${customer.email}"></td>
          <td>
            <form th:action="@{/edit}" method="post">
              <input
                type="submit"
                class="btn btn-outline-primary"
                name="edit"
                value="編集"
              />
              <input type="hidden" name="id" th:value="${customer.id}" />
            </form>
          </td>
          <td>
            <form th:action="@{/edit}" method="post">
              <input
                type="submit"
                class="btn btn-outline-danger"
                name="delete"
                value="削除"
              />
              <input type="hidden" name="id" th:value="${customer.id}" />
            </form>
          </td>
        </tr>
      </table>
      <!-- <h2>学生一覧</h2>
    <table class="table">
      <tr>
        <th>学生番号</th>
        <th>氏名</th>
        <th>誕生日</th>
      </tr>
      <tr th:each="student: ${students}">
        <td th:text="${student.studentNumber}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.birthday}"></td>
      </tr>
    </table>
    <h2>販売一覧</h2>
    <table class="table">
      <tr>
        <th>販売ID</th>
        <th>商品ID</th>
        <th>商品名</th>
        <th>販売日</th>
        <th>品質</th>
      </tr>
      <tr th:each="sales: ${salesList}">
        <td th:text="${sales.saleId}"></td>
        <td th:text="${sales.productId}"></td>
        <td th:text="${sales.productName}"></td>
        <td th:text="${sales.saleDate}"></td>
        <td th:text="${sales.quantity}"></td>
      </tr>
    </table>
    <p>商品ごとの品質平均</p>
    <ul>
      <li th:each="entry : ${salesAvgMap.entrySet()}">
        <p>
          <span th:text="${entry.key}"></span> :
          <span th:text="${entry.value}"></span>
        </p>
      </li>
    </ul> -->
    </div>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  </body>
</html>
